h1, h2, h3, h4, h5 {
  text-align: center;
}

.App-logo {
  float: left;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
}

.App-intro {
  font-size: large;
}