/* font-family: 'Roboto', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */

* {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Header */
  .navbar {
    padding: 0 !important;
    margin-top: 10px;
  }

  .navbar-brand {
      display: flex; 
      padding-left: 1.5em;
  }

  .header_div {
    padding-right: 1em;
  }

  .nav-item {
    height: 100%;
  }

  .nav-link {
    font-family: 'Roboto', sans-serif;
    color: #1267af;
    font-size: medium;
    text-align: center;
    letter-spacing: .7px;
  }

  #contact-link {
    padding-bottom: 0;
    font-weight: bold;
    color: white;
  }

  #contactLinkBox {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 42px;
    border-radius: 20px;
    background-color: #fc544c;
  }

  /* Hero Image */
  .jumbotron {
    background-image: url('images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px !important;
    border-radius: 0px !important;
    height: 90vh;
  }

  /* DESCRIPTION */

  #description_div {
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #339ffc;
  }

  #description {
    font-family: 'Nunito Sans', sans-serif;
    font-size: x-large;
    width: 1109px;
    text-align: center;
    letter-spacing: 1.1px; 
    color: #ffffff;
  }

  /* About */ 
  #photo_group {
    padding-top: 100px;
    padding-bottom: 4em;
    margin: auto;
    width: 100%;
  }

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }

  #about_image {
    padding-top: 6em;
    align-items:center;
    justify-content: center;
    display: flex;
  }

  #about_image img {
    width: 450px;
  }

  #about_description_title{
    width: 70%;
    font-size: x-large;
    font-weight: 550;
    font-style: normal;
    line-height: 1.57;
    font-family: 'Nunito Sans', sans-serif;
    color: #4b4b4b;
  }
  
  #about_description {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    line-height: 1.6;
    letter-spacing: normal;
    color: #4b4b4b;
  }


  /* Steps */
  #How {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #339ffc;
  }

  .step_box.col {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 212px;
  }

  .step_images {
    height: 212px;
    width: 200px;
    padding-bottom: 1.5rem;
  }

  .step_number {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: large;
    letter-spacing: 0;
    font-weight: bold;
    color: #ffffff;
  }
  
  .step_descriptions {
    font-family: 'Roboto', sans-serif;
    width: inherit;
    margin-top: .2em;
    font-size: medium;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 25px;
    color: #ffffff;
  }
/* modifying row so step text will be aligned*/
  .row {
    justify-content: center;
    align-items: center;
  }
  /* Contact */

#Contact {
  background-image: url('images/contact_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  width: 100%;
}

.divider {
  width: 2px;
  height: 375px;
  margin: auto 8%;
  background: #339ffc;
}

#contact_mobile{
  display: none;
}

.contact_portion {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.h2_contact {
  padding: 0;
  margin: 0;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Nunito Sans-Black', sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: white;
}

.span_contact {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: small;
  color: #ffffff;
}

.subscribe_div {
  align-content: center;
  display: inherit;
  margin: auto;
  margin-top: 70px;
  border-color: rgba(51, 159, 252, 0.26);
  border-radius: 26px;
}

.form-group {
  margin: 0 !important;
}

.form-control {
  font-family: 'Roboto', sans-serif;
  background-color: #1a75c2 !important;
  border-color: #339ffc !important;
  height: 55px !important;
  width: 255px !important;
  border-radius: 26px !important;
  color: white !important;
}

.contact_email {
  text-align: center;
  justify-content: center;
  display: inline-flex;
}

button.custom_button {
  font-size: medium;
  font-weight: bold;
  letter-spacing: .7px;
  width: 255px;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 60px; 
  border-radius: 26px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.45);;
  background-color: #339ffc;
}

button.custom_button:hover {
  border-color: #339ffc !important;
  background-color: #339ffc !important;
}
#Contact > div:nth-child(1) > div > button {
  border-color: inherit;
}

label {
  display: block;
  color: white;
  margin: 0 0 4px;
}

#contact_email, #subscribe_email {
  border: #000;
  padding: 10px;
  font-size: medium;
  background-image: url('images/mail_icon.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 5px 10px 20px;
  text-indent: 40px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  transition: all 0.2s;
}

form {
  background-color: #1267af;
  color: #fff;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
}

/* Modals */
.modal-content {
  border-radius: 47px !important;
  /* height: 580px; */
  background-color: #1267af !important;
}

.modal-body {
  align-items: center;
  justify-content: center;
  display: grid;
  padding: 0 !important;
}

button.close {
  color: white;
  padding-right: .5em !important;
  padding-top: .2em !important; 
  padding-bottom: 0 !important;
  font-size: 4em;
  font-weight: 75;
}

.modal-header {
  border-bottom: 0 !important;
}

#contact_text {
  background-color: inherit !important;
  border: 0;
  border-radius: 0 !important;
  border-bottom: 2px solid white;
}

#contact_name {
  border: #000;
  padding: 10px;
  font-size: medium;
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 5px 10px 20px;
  text-indent: 40px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  transition: all 0.2s;
  background-image: url('images/name_icon.png');
}

.modalSuccess {
  padding-bottom: 5em;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: x-large;
  color: white;
}

.imgSuccessDiv {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.imgSuccess {
  margin-top: 120px;
  width: 75%;  
}

/* modal overrides */

div.modal-body > div {
  margin: 0 !important;
  /* padding-top: .5em; */
  height: 100%;
}

#page_break{
  width: 100%;
  height: 260px;
}

  /* TEAM */

#Team {
  height: 680px;
  background-color: #339ffc;
}

.team_div {
  justify-content: center;
  align-items: center;
  display: grid; 
}

#team_header {
  text-align: center;
  padding-top: 98px;
  padding-bottom: 70px;
  font-family: 'Nunito Sans-Black', sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
}

#team_photos {
  display: inline-flex;
  width: 100%;
}

#team_photos img {
  width: 277px;
  height: auto;
}

.team_headers {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: white;
}

.linked_descriptions {
  padding-top: 27px;
  text-align: center;
}

.linked_descriptions a {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: white;
}

.linkedin_white {
  height: 22px !important;
  width: 22px !important;
}
    /* Footer */
    
    #footer_links {
      display: inline-flex;
    }
    
    #footer_links img {
      height: 50px;
      width: 50px;
    }
    
    .footer_social {
      padding: 14px;
    }
    
    .footer {
      text-align: center;
    }

    /* Tablet */
    @media (min-width: 769px) and (max-width: 1000px) { 
      .step_box.col {
       width: 150px;
      }
      #team_photos {
        display: inline-block;
      }
      #Team {
        height: 100%;
      }
      .team_div {
        padding: 2em;
      }
      .contact_portion {
        padding: 3em !important;
      }
      #Contact {
        height: 100%;
        display: inline-block;
      }
      .divider {
        width: auto;
        height: 3px;
        margin: 3%;
        background: #339ffc;
      }
     }

     @media (min-width: 576px) and (max-width: 768.88px) { 
       #description {
        font-size: large; 
       }
       #description_div {
         min-height: 35vh;
         padding: 2em;
       }
       #team_photos {
        display: inline-block;
      }
      #Team {
        height: 100%;
      }
      .team_div {
        padding: 2em;
      }
       .step_box.col {
         display: table;
         padding-left: 33vw;
         padding-bottom: 2em;
         width: 100%;
       }
       .row {
         display: block !important;
       }
       .step_descriptions {
         width: 55%;
       }
       .contact_portion {
        padding: 3em !important;
      }
      #Contact {
        height: 100%;
        display: inline-block;
      }
      .divider {
        width: auto;
        height: 3px;
        margin: 3%;
        background: #339ffc;
      }
      .nav-link{
        font-size:initial;
      }
      .navbar-brand{
        padding: 0;
      }
      #contactLinkBox{
        margin:0;
        width: auto;
        height: auto;
      }
      .header_div{
        padding-right: initial;
      }
      #about_image {
        display: none;
      }
      #about_description_title{
        width: 100%;
        text-align: center;
      }
      #about_description{
        text-align: justify;
        width: 100%;
      }
      .modal-content{
        height: auto;
      }
      .modalSuccess{
        padding-bottom: 2em;
      }
      .step_images{
        width: unset;
      }
    }

      @media (max-width: 575.98px) { 
        .step_images{
          width: unset;
        }
        .jumbotron {
          height: 85vh;
        }
        #team_photos {
          display: inline-block;
        }
        #about_image {
          display: none;
        }
        .navbar-brand {
          padding-left: 1em;
          font-size: auto;
        }
        #about_description_title {
          padding-top: 3em;
          text-align: center;
        }
        #about_description{
          text-align: justify;
        }
        #Team {
          height: 100%;
        }
        .team_div {
          padding: 2em;
        }
        #team_header {
          padding-bottom: 30px;
        }
        #photo_group_div{
          display: none;
        }
        .row {
          display: block !important;
        }
        #about_image{
          padding-bottom: 3em;
        }
        .navbar-toggler{
          display: none;
        }
        #about_description_title{
          width: 100%;
        }
        #about_description{
          width: 100%;
        }
        #page_break {
          height: 160px;
        }
        #Contact {
          display: none;
        }
        #description {
          font-size: medium;
        }
        #description_div {
          padding: .5em;
        }
        #team_header {
          font-size: xx-large;
        }
        .step_box.col {
          display: table;
          padding-left: 23vw;
          padding-bottom: 1em;
          width: 100%;
        }
       }